<form action="/questions/<%= question.id %>" method="POST" accept-charset="utf-8">
  <textarea rows='4' cols='80' placeholder="Type comment here" name="new_comment"></textarea><br>
  <input type="submit" name="add_new_comment" value="Add comment">
</form>