<%= erb :_errors %>

<form action="/login" method="post">
  <input type="text" name="user[username]"  placeholder="username">
  <input type="password" name="user[password]"  placeholder="Password">
  <input type="submit" name="user_sign_in" value="Sign in">
</form>
