.comments-container {
  margin-left: 30px;
  font-size: 10pt;
  background-color: #f8f8f8;
  width: 40%;
}

.comment {
  width: 30%;
  margin-top: 20px;
  /*border-bottom: 0.5px solid lightgrey;*/
}

.upvote-button {
  width: 0;
  height: 0;
  border-bottom: 14px solid grey ;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

.downvote-button {
  width: 0;
  height: 0;
  border-top: 14px solid grey ;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

.body-content{
  margin-left: -110px;
  font-size: 12pt;
}

.add-new-comment, .best-answer {
  background:none!important;
  color:#8C8C8C;
  padding:0!important;
  font: inherit;
  font-size: 8pt;
  margin-bottom: 30px;
}

.best-answer {
  display: inline;
}

.errors {
  color: red;
}

#question-vote-count, .answer-vote-count {
  margin-left: 12px;
  font-size: 18px;
}

#new_question_form_container {
  display: none;
}

.answer-container {
  margin-top: 30px;
}

.check-mark {
  color: green; 
  font-size: 50px;
}

.col-md-3 {
  margin-left: -140px;
  margin-right: -130px;
}