<form action='/questions/new' method='post'>
  <input label='Title:'type='text' name=question[title]>
  <input label='Question:'type='text' name=question[body]  placeholder="Type your question here.">
  <input type= 'submit' value='Submit'>
</form>
